# **Warm Up**

In [ ]:
[1,2,3,4,6]

[1, 2, 3, 4, 6]

In [ ]:
# [1,2,3,4,6]*2
[1,2,3,4,6]*2

[1, 2, 3, 4, 6, 1, 2, 3, 4, 6]

In [ ]:
# to reuse the list, give a variable name for the list
my_list = [1,2,3,4,6]

In [ ]:
my_list

[1, 2, 3, 4, 6]

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

## *range(start, stop, step)*

In [ ]:
# how to generate a list from 1-5 etc?

In [ ]:
range(5)

range(0, 5)

In [ ]:
print(*range(5))
# * will print out results
# pythons count eveything from 0

0 1 2 3 4

In [ ]:
print(*range(1,11,1))

1 2 3 4 5 6 7 8 9 10

In [ ]:
print(*range(1,11,2))

1 3 5 7 9

In [ ]:
print(*range(10,0,-1))

10 9 8 7 6 5 4 3 2 1

In [ ]:
print(*range(10,0,-2))

10 8 6 4 2

# **Data Structure: Type "List"**

In [ ]:
b = range(0,10,2)
b = list(b)
print(b)

[0, 2, 4, 6, 8]

In [ ]:
b[1]

2

In [ ]:
b[0]
# notice that python starts from 0, so 0 is include, 10 is not

0

In [ ]:
# since python coutn from 0, 
#

In [ ]:
b[-1]
# useful when the dataset is large
# and we want the last item

8

In [ ]:
# choose several items at the same time ":"
b[1:4]
# choost the 1st item, and stop before 4th item

[2, 4, 6]

In [ ]:
b(1:4)
# cannot use "()"

SyntaxError: ignored

In [ ]:
b[2:]
# leave it blank
# python will make it default as last element

[4, 6, 8]

In [ ]:
b[:-2]
# print everything from beginning, and stop before b[-2]

[0, 2, 4]

In [ ]:
# replace an item from a list
b[4] = 99

In [ ]:
b

[0, 2, 4, 6, 99]

In [ ]:
# how to add more data?
b.append(100)

In [ ]:
b

[0, 2, 4, 6, 99, 100]

In [ ]:
b.remove(99)

In [ ]:
b

[0, 2, 4, 6, 100]

In [ ]:
# How to double each item?
# First method
my_list = [ 1 , 2, 3, 4 , 6]
my_new_list = [ i*2 for i in my_list]
my_new_list

[2, 4, 6, 8, 12]

In [ ]:
# Second method
import numpy as np
my_list2 = np.array([1,2,3,4,6])
my_list2 * 2

array([ 2,  4,  6,  8, 12])